### Introduction to the if Statement

In [2]:
x = 0
y = 5

if x < y :
    print('yes')

if y < x :
    print('yes')

if x :
    print('yes')

if y :
    print('yes')

if 'aul' in 'grault' : 
    print('yes')

if 'quux' in ['foo', 'bar', 'baz']:
    print('yes')

yes
yes
yes

### Grouping Statements: Indentation and Blocks

In [2]:
if 'foo' in ['test', 'baz', 'qux'] :
    print('Expression was true')
    print('Executing statement in suite')
    print('...')
    print('Done.')

print('After conditional')

After conditional

### The else and elif clauses

In [3]:
x = 20

if x < 50 :
    print('(first suite)')
    print('x is small')

else:
    print('(second suite)')
    print('x is large')

(first suite)
x is small

In [3]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print("beli buku")

else:
    print("uang tidak cukup")

uang tidak cukup

### One-Line if Statements

In [5]:
if 'f' in 'foo' : print('1'); print('2'); print('3')

1
2
3

In [6]:
x = 2

if x == 1 : print ('foo'); print('bar'); print('baz')
elif x == 2 : print('qux'); print('quux')
else : print ('corge'); print('grault')

qux
quux

### Conditional Expressions (Python's Ternary Operator)

In [7]:
raining = False
print ("Let's go to the"), 'beach' if not raining else 'library'

Let's go to the

(None, 'beach')

In [8]:
raining = True
print ("Let's go to the"), 'beach' if not raining else 'library'

Let's go to the

(None, 'library')

In [9]:
age = 12
s = 'teen' if age < 21 else 'adult'
s

'teen'

### Python "While" Loops

In [10]:
n = 5 
while n > 0 :
    n -= 1
    print(n)

4
3
2
1
0

In [11]:
i = 1
while i < 6 :
    print(i)
    i += 1

1
2
3
4
5

### The Python break and continue Statements

In [15]:
n = 5
while n > 0 :
    n -= 1
    if n == 2:
       break #Break Statement
    print (n)
print ('Loop ended.')

4
3
Loop ended.

### The else Clause

In [16]:
n = 5
while n > 0:
    n -= 1
    print(n)
else :
    print('Loop done.')

4
3
2
1
0
Loop done.

### Infinite Loops

In [19]:
a = ['foo', 'bar']

while len(a):
    print(a.pop(0))

    b = ['baz', 'qux']

    while len (b):
        print('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

### One-Line while Loops

In [21]:
n = 5
while n > 0: n-= 1; print(n)

4
3
2
1
0