In [2]:
import numpy as np
import pandas as pd

### Nomer 4

In [3]:
index = [chr(i) for i in range(97, 123)]
data = list(range(1,27))
series = pd.Series(data, index=index)

print(series)

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
k    11
l    12
m    13
n    14
o    15
p    16
q    17
r    18
s    19
t    20
u    21
v    22
w    23
x    24
y    25
z    26
dtype: int64

### Nomer 5

In [24]:
import random
data = [random.randint(1, 5) for _ in range(100)]
series = pd.Series(data)
print(series)

0     5
1     1
2     4
3     5
4     1
     ..
95    5
96    2
97    2
98    1
99    2
Length: 100, dtype: int64

In [27]:
frekuensi = series.value_counts()
print(frekuensi)

5    23
3    21
1    19
2    19
4    18
dtype: int64

In [26]:
dua_tertinggi = frekuensi.head(2)
print(dua_tertinggi)

Dua nilai dengan frekuensi tertinggi:
5    23
3    21
dtype: int64

### Nomer 6

In [13]:
import seaborn as sns
mpg = sns.load_dataset("mpg")

mpg.head

<bound method NDFrame.head of       mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0          8         307.0       130.0    3504          12.0
1    15.0          8         350.0       165.0    3693          11.5
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
4    17.0          8         302.0       140.0    3449          10.5
..    ...        ...           ...         ...     ...           ...
393  27.0          4         140.0        86.0    2790          15.6
394  44.0          4          97.0        52.0    2130          24.6
395  32.0          4         135.0        84.0    2295          11.6
396  28.0          4         120.0        79.0    2625          18.6
397  31.0          4         119.0        82.0    2720          19.4

     model_year  origin                       name
0            70     usa  chevrolet chevelle malibu
1            70     usa          buick skylark 320
2            70     usa         plymouth satellite
3            70     usa              amc rebel sst
4            70     usa                ford torino
..          ...     ...                        ...
393          82     usa            ford mustang gl
394          82  europe                  vw pickup
395          82     usa              dodge rampage
396          82     usa                ford ranger
397          82     usa                 chevy s-10

[398 rows x 9 columns]>

In [14]:
#c) Tampilkan statistik deskriptif atau Describe data selain data numerik!

mpg.describe(exclude=[np.number])

       origin        name
count     398         398
unique      3         305
top       usa  ford pinto
freq      249           6

In [15]:
# Tampilkan seluruh nama kolom pada DataFrame!
mpg.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'name'],
      dtype='object')

In [16]:
# Hitung Jumlah Missing Value (data kosong) di setiap kolomnya!
mpg.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
name            0
dtype: int64

### Nomer 7

In [18]:
# Tampilkan Missing value (data kosong) pada kolom ‘horsepower’!
missing_horsepower = mpg[mpg['horsepower'].isnull()]
missing_horsepower

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
32,25.0,4,98.0,NaN,2046,19.0,71,usa,ford pinto
126,21.0,6,200.0,NaN,2875,17.0,74,usa,ford maverick
330,40.9,4,85.0,NaN,1835,17.3,80,europe,renault lecar deluxe
336,23.6,4,140.0,NaN,2905,14.3,80,usa,ford mustang cobra
354,34.5,4,100.0,NaN,2320,15.8,81,europe,renault 18i
374,23.0,4,151.0,NaN,3035,20.5,82,usa,amc concord dl

In [19]:
# Tampilkan index lokasi missing value tersebut!
missing_horsepower.index

Int64Index([32, 126, 330, 336, 354, 374], dtype='int64')

### Nomer 8

In [20]:
# Lakukan grouping atau pengelompokan berdasarkan kolom ‘origin’! Tampilkan rata-rata dari ‘horsepower’ di setiap kelompok origin-nya!

origin_grouped = mpg.groupby('origin')['horsepower'].mean()
origin_grouped

origin
europe     80.558824
japan      79.835443
usa       119.048980
Name: horsepower, dtype: float64