In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv('melb_data.csv')
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [6]:
#nomor 1 :
statistics = df[['Rooms', 'Distance', 'Landsize', 'Price']].describe()
(statistics)

              Rooms      Distance       Landsize         Price
count  13580.000000  13580.000000   13580.000000  1.358000e+04
mean       2.937997     10.137776     558.416127  1.075684e+06
std        0.955748      5.868725    3990.669241  6.393107e+05
min        1.000000      0.000000       0.000000  8.500000e+04
25%        2.000000      6.100000     177.000000  6.500000e+05
50%        3.000000      9.200000     440.000000  9.030000e+05
75%        3.000000     13.000000     651.000000  1.330000e+06
max       10.000000     48.100000  433014.000000  9.000000e+06

In [10]:
#A
rumah_paling_mahal = df[df['Price'] == df['Price'].max()]
jumlah_rooms_rumah_paling_mahal = rumah_paling_mahal['Rooms'].values[0]
(jumlah_rooms_rumah_paling_mahal)

3

In [11]:
#B
rumah_terdekat_ke_CBD = df[df['Distance'] == df['Distance'].min()]
rata_rata_harga_rumah_terdekat = rumah_terdekat_ke_CBD['Price'].mean()
(rata_rata_harga_rumah_terdekat)

671166.6666666666

In [12]:
#D
southern_metropolitan_data = df[df['Regionname'] == 'Southern Metropolitan']
price_range_southern_metropolitan = southern_metropolitan_data['Price'].max() - southern_metropolitan_data['Price'].min()
(price_range_southern_metropolitan)

7869000.0

Nilai outlier adalah nilai yang berada di bawah Q1 - (1.5 * IQR)
atau di atas Q3 + (1.5 * IQR).
- Hitung dulu Q1, Q2, dan IQR pada kolom Price (harga rumah)
- Hitung ada berapa nilai outlier pada kolom Price!

In [5]:
#nomer 3A
harga_rumah = df["Price"]
# Q1
q1 = harga_rumah.quantile(0.25)
# Q2
q2 = harga_rumah.median()
# Q3
q3 = harga_rumah.quantile(0.75)
# IQR
iqr = q3 - q1

print("Q1:", q1)
print("Q2:", q2)
print("Q3:", q3)
print("IQR:",iqr)

#nomer 3b
# Nilai outlier
outliers = harga_rumah.where((harga_rumah < q1 - (1.5 * iqr)) | (harga_rumah > q3 + (1.5 * iqr))).dropna()
# Jumlah outlier
jumlah_outliers = outliers.shape[0]
print("Jumlah outlier:", jumlah_outliers)

Q1: 650000.0
Q2: 903000.0
Q3: 1330000.0
IQR: 680000.0
Jumlah outlier: 612

Lakukan uji asumsi normalitas pada variabel harga rumah (Price)
menggunakan:
a) Shapiro Wilk Test
b) D’Agostino and Pearson’s Test

In [9]:
from scipy import stats
#Uji Shapiro-Wilk:
price_data = df['Price']

# Uji Shapiro-Wilk
shapiro_test_statistic, shapiro_p_value = stats.shapiro(price_data)

# Interpretasi hasil uji Shapiro-Wilk
alpha = 0.05
if shapiro_p_value > alpha:
    print("Data tidak terdistribusi secara signifikan dari distribusi normal (tidak menolak H0)")
else:
    print("Data terdistribusi secara signifikan dari distribusi normal (menolak H0)")

# Ekstrak kolom 'Price' untuk pengujian normalitas
price_data = df['Price']

# Uji D'Agostino and Pearson's
dagostino_test_statistic, dagostino_p_value = stats.normaltest(price_data)

# Interpretasi hasil uji D'Agostino and Pearson's
alpha = 0.05
if dagostino_p_value > alpha:
    print("Data tidak terdistribusi secara signifikan dari distribusi normal (tidak menolak H0)")
else:
    print("Data terdistribusi secara signifikan dari distribusi normal (menolak H0)")

Data terdistribusi secara signifikan dari distribusi normal (menolak H0)
Data terdistribusi secara signifikan dari distribusi normal (menolak H0)

c:\ProgramData\anaconda3\Lib\site-packages\scipy\stats\_morestats.py:1816: UserWarning: p-value may not be accurate for N > 5000.
  warnings.warn("p-value may not be accurate for N > 5000.")