In [2]:
# Import pandas using the alias pd
import pandas as pd
homelessness = pd.read_csv('01. homelessness.csv')

In [3]:
# Print the head of the homelessness data
homelessness.head()

,Unnamed: 0,region,state,individuals,family_members,state_pop
0,0,East South Central,Alabama,2570.0,864.0,4887681
1,1,Pacific,Alaska,1434.0,582.0,735139
2,2,Mountain,Arizona,7259.0,2606.0,7158024
3,3,West South Central,Arkansas,2280.0,432.0,3009733
4,4,Pacific,California,109008.0,20964.0,39461588

In [4]:
# Print information about homelessness
homelessness.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      51 non-null     int64
 1   region          51 non-null     object
 2   state           51 non-null     object
 3   individuals     51 non-null     float64
 4   family_members  51 non-null     float64
 5   state_pop       51 non-null     int64
dtypes: float64(2), int64(2), object(2)
memory usage: 2.5+ KB

In [5]:
# Print the shape of homelessness
homelessness.shape

(51, 6)

In [6]:
# Print a description of homelessness
homelessness.describe

<bound method NDFrame.describe of     Unnamed: 0              region                 state  individuals  \
0            0  East South Central               Alabama       2570.0
1            1             Pacific                Alaska       1434.0
2            2            Mountain               Arizona       7259.0
3            3  West South Central              Arkansas       2280.0
4            4             Pacific            California     109008.0
5            5            Mountain              Colorado       7607.0
6            6         New England           Connecticut       2280.0
7            7      South Atlantic              Delaware        708.0
8            8      South Atlantic  District of Columbia       3770.0
9            9      South Atlantic               Florida      21443.0
10          10      South Atlantic               Georgia       6943.0
11          11             Pacific                Hawaii       4131.0
12          12            Mountain                 Idaho       1297.0
13          13  East North Central              Illinois       6752.0
14          14  East North Central               Indiana       3776.0
15          15  West North Central                  Iowa       1711.0
16          16  West North Central                Kansas       1443.0
17          17  East South Central              Kentucky       2735.0
18          18  West South Central             Louisiana       2540.0
19          19         New England                 Maine       1450.0
20          20      South Atlantic              Maryland       4914.0
21          21         New England         Massachusetts       6811.0
22          22  East North Central              Michigan       5209.0
23          23  West North Central             Minnesota       3993.0
24          24  East South Central           Mississippi       1024.0
25          25  West North Central              Missouri       3776.0
26          26            Mountain               Montana        983.0
27          27  West North Central              Nebraska       1745.0
28          28            Mountain                Nevada       7058.0
29          29         New England         New Hampshire        835.0
30          30        Mid-Atlantic            New Jersey       6048.0
31          31            Mountain            New Mexico       1949.0
32          32        Mid-Atlantic              New York      39827.0
33          33      South Atlantic        North Carolina       6451.0
34          34  West North Central          North Dakota        467.0
35          35  East North Central                  Ohio       6929.0
36          36  West South Central              Oklahoma       2823.0
37          37             Pacific                Oregon      11139.0
38          38        Mid-Atlantic          Pennsylvania       8163.0
39          39         New England          Rhode Island        747.0
40          40      South Atlantic        South Carolina       3082.0
41          41  West North Central          South Dakota        836.0
42          42  East South Central             Tennessee       6139.0
43          43  West South Central                 Texas      19199.0
44          44            Mountain                  Utah       1904.0
45          45         New England               Vermont        780.0
46          46      South Atlantic              Virginia       3928.0
47          47             Pacific            Washington      16424.0
48          48      South Atlantic         West Virginia       1021.0
49          49  East North Central             Wisconsin       2740.0
50          50            Mountain               Wyoming        434.0

    family_members  state_pop
0            864.0    4887681
1            582.0     735139
2           2606.0    7158024
3            432.0    3009733
4          20964.0   39461588
5           3250.0    5691287
6           1696.0    3571520
7            374.0     965479
8           3134.0     701547
9           9587.0   21244317
10          2556.0   10511131
11          2399.0    1420593
12           715.0    1750536
13          3891.0   12723071
14          1482.0    6695497
15          1038.0    3148618
16           773.0    2911359
17           953.0    4461153
18           519.0    4659690
19          1066.0    1339057
20          2230.0    6035802
21         13257.0    6882635
22          3142.0    9984072
23          3250.0    5606249
24           328.0    2981020
25          2107.0    6121623
26           422.0    1060665
27           676.0    1925614
28           486.0    3027341
29           615.0    1353465
30          3350.0    8886025
31           602.0    2092741
32         52070.0   19530351
33          2817.0   10381615
34            75.0     758080
35          3320.0   11676341
36          1048.0    3940235
37          3337.0    4181886
38          5349.0   12800922
39           354.0    1058287
40           851.0    5084156
41           323.0     878698
42          1744.0    6771631
43          6111.0   28628666
44           972.0    3153550
45           511.0     624358
46          2047.0    8501286
47          5880.0    7523869
48           222.0    1804291
49          2167.0    5807406
50           205.0     577601  >

In [7]:
# Print the values of homelessness
homelessness.values

array([[0, 'East South Central', 'Alabama', 2570.0, 864.0, 4887681],
       [1, 'Pacific', 'Alaska', 1434.0, 582.0, 735139],
       [2, 'Mountain', 'Arizona', 7259.0, 2606.0, 7158024],
       [3, 'West South Central', 'Arkansas', 2280.0, 432.0, 3009733],
       [4, 'Pacific', 'California', 109008.0, 20964.0, 39461588],
       [5, 'Mountain', 'Colorado', 7607.0, 3250.0, 5691287],
       [6, 'New England', 'Connecticut', 2280.0, 1696.0, 3571520],
       [7, 'South Atlantic', 'Delaware', 708.0, 374.0, 965479],
       [8, 'South Atlantic', 'District of Columbia', 3770.0, 3134.0,
        701547],
       [9, 'South Atlantic', 'Florida', 21443.0, 9587.0, 21244317],
       [10, 'South Atlantic', 'Georgia', 6943.0, 2556.0, 10511131],
       [11, 'Pacific', 'Hawaii', 4131.0, 2399.0, 1420593],
       [12, 'Mountain', 'Idaho', 1297.0, 715.0, 1750536],
       [13, 'East North Central', 'Illinois', 6752.0, 3891.0, 12723071],
       [14, 'East North Central', 'Indiana', 3776.0, 1482.0, 6695497],
       [15, 'West North Central', 'Iowa', 1711.0, 1038.0, 3148618],
       [16, 'West North Central', 'Kansas', 1443.0, 773.0, 2911359],
       [17, 'East South Central', 'Kentucky', 2735.0, 953.0, 4461153],
       [18, 'West South Central', 'Louisiana', 2540.0, 519.0, 4659690],
       [19, 'New England', 'Maine', 1450.0, 1066.0, 1339057],
       [20, 'South Atlantic', 'Maryland', 4914.0, 2230.0, 6035802],
       [21, 'New England', 'Massachusetts', 6811.0, 13257.0, 6882635],
       [22, 'East North Central', 'Michigan', 5209.0, 3142.0, 9984072],
       [23, 'West North Central', 'Minnesota', 3993.0, 3250.0, 5606249],
       [24, 'East South Central', 'Mississippi', 1024.0, 328.0, 2981020],
       [25, 'West North Central', 'Missouri', 3776.0, 2107.0, 6121623],
       [26, 'Mountain', 'Montana', 983.0, 422.0, 1060665],
       [27, 'West North Central', 'Nebraska', 1745.0, 676.0, 1925614],
       [28, 'Mountain', 'Nevada', 7058.0, 486.0, 3027341],
       [29, 'New England', 'New Hampshire', 835.0, 615.0, 1353465],
       [30, 'Mid-Atlantic', 'New Jersey', 6048.0, 3350.0, 8886025],
       [31, 'Mountain', 'New Mexico', 1949.0, 602.0, 2092741],
       [32, 'Mid-Atlantic', 'New York', 39827.0, 52070.0, 19530351],
       [33, 'South Atlantic', 'North Carolina', 6451.0, 2817.0, 10381615],
       [34, 'West North Central', 'North Dakota', 467.0, 75.0, 758080],
       [35, 'East North Central', 'Ohio', 6929.0, 3320.0, 11676341],
       [36, 'West South Central', 'Oklahoma', 2823.0, 1048.0, 3940235],
       [37, 'Pacific', 'Oregon', 11139.0, 3337.0, 4181886],
       [38, 'Mid-Atlantic', 'Pennsylvania', 8163.0, 5349.0, 12800922],
       [39, 'New England', 'Rhode Island', 747.0, 354.0, 1058287],
       [40, 'South Atlantic', 'South Carolina', 3082.0, 851.0, 5084156],
       [41, 'West North Central', 'South Dakota', 836.0, 323.0, 878698],
       [42, 'East South Central', 'Tennessee', 6139.0, 1744.0, 6771631],
       [43, 'West South Central', 'Texas', 19199.0, 6111.0, 28628666],
       [44, 'Mountain', 'Utah', 1904.0, 972.0, 3153550],
       [45, 'New England', 'Vermont', 780.0, 511.0, 624358],
       [46, 'South Atlantic', 'Virginia', 3928.0, 2047.0, 8501286],
       [47, 'Pacific', 'Washington', 16424.0, 5880.0, 7523869],
       [48, 'South Atlantic', 'West Virginia', 1021.0, 222.0, 1804291],
       [49, 'East North Central', 'Wisconsin', 2740.0, 2167.0, 5807406],
       [50, 'Mountain', 'Wyoming', 434.0, 205.0, 577601]], dtype=object)

In [9]:
# Print the column index of homelessness
homelessness.columns

Index(['Unnamed: 0', 'region', 'state', 'individuals', 'family_members',
       'state_pop'],
      dtype='object')

In [10]:

# Print the row index of homelessness
homelessness.index

RangeIndex(start=0, stop=51, step=1)

1. Sort homelessness by the number of homeless individuals, from smallest to largest, and save this as homelessness_ind.
2. Print the head of the sorted DataFrame.

In [32]:
# Sort homelessness by individual
homelessness_ind = homelessness.sort_values(['individuals'], ascending=True, axis=0)

In [33]:
# Print the top few rows
print(homelessness_ind.head(1))

    Unnamed: 0    region    state  individuals  family_members  state_pop  \
50          50  Mountain  Wyoming        434.0           205.0     577601

    indiv_per_10k
50       7.513837

1. Sort homelessness by the number of homeless family_members in descending order, and save this as homelessness_fam.
2. Print the head of the sorted DataFrame.

In [35]:
# Sort homelessness by descending family members
homelessness_fam = homelessness.sort_values(['family_members'], ascending=False, axis=0)

In [36]:
# Print the top few rows
homelessness_fam.head(1)

,Unnamed: 0,region,state,individuals,family_members,state_pop,indiv_per_10k
32,32,Mid-Atlantic,New York,39827.0,52070.0,19530351,20.392363

1. Sort homelessness first by region (ascending), and then by number of family members (descending). Save this as homelessness_reg_fam.
2. Print the head of the sorted DataFrame.

In [38]:
# Sort homelessness by region, then descending family members
homelessness_reg_fam = homelessness.sort_values(["region","family_members"], ascending=[True, False], axis=0)

In [39]:
# Print the top few rows
homelessness_reg_fam.head(1)

,Unnamed: 0,region,state,individuals,family_members,state_pop,indiv_per_10k
13,13,East North Central,Illinois,6752.0,3891.0,12723071,5.306895

1. Create a DataFrame called individuals that contains only the individuals column of homelessness.
2. Print the head of the result.

In [23]:
# Select the individuals column
individuals = homelessness['individuals']

# Print the head of the result
individuals.head

<bound method NDFrame.head of     individuals
0        2570.0
1        1434.0
2        7259.0
3        2280.0
4      109008.0
5        7607.0
6        2280.0
7         708.0
8        3770.0
9       21443.0
10       6943.0
11       4131.0
12       1297.0
13       6752.0
14       3776.0
15       1711.0
16       1443.0
17       2735.0
18       2540.0
19       1450.0
20       4914.0
21       6811.0
22       5209.0
23       3993.0
24       1024.0
25       3776.0
26        983.0
27       1745.0
28       7058.0
29        835.0
30       6048.0
31       1949.0
32      39827.0
33       6451.0
34        467.0
35       6929.0
36       2823.0
37      11139.0
38       8163.0
39        747.0
40       3082.0
41        836.0
42       6139.0
43      19199.0
44       1904.0
45        780.0
46       3928.0
47      16424.0
48       1021.0
49       2740.0
50        434.0>

1. Create a DataFrame called state_fam that contains only the state and family_members columns of homelessness, in that order.
2. Print the head of the result.

In [24]:
# Select the state and family_members columns
state_fam = homelessness[['state', 'family_members']]

# Print the head of the result
state_fam.head()

<bound method NDFrame.head of                    state  family_members
0                Alabama           864.0
1                 Alaska           582.0
2                Arizona          2606.0
3               Arkansas           432.0
4             California         20964.0
5               Colorado          3250.0
6            Connecticut          1696.0
7               Delaware           374.0
8   District of Columbia          3134.0
9                Florida          9587.0
10               Georgia          2556.0
11                Hawaii          2399.0
12                 Idaho           715.0
13              Illinois          3891.0
14               Indiana          1482.0
15                  Iowa          1038.0
16                Kansas           773.0
17              Kentucky           953.0
18             Louisiana           519.0
19                 Maine          1066.0
20              Maryland          2230.0
21         Massachusetts         13257.0
22              Michigan          3142.0
23             Minnesota          3250.0
24           Mississippi           328.0
25              Missouri          2107.0
26               Montana           422.0
27              Nebraska           676.0
28                Nevada           486.0
29         New Hampshire           615.0
30            New Jersey          3350.0
31            New Mexico           602.0
32              New York         52070.0
33        North Carolina          2817.0
34          North Dakota            75.0
35                  Ohio          3320.0
36              Oklahoma          1048.0
37                Oregon          3337.0
38          Pennsylvania          5349.0
39          Rhode Island           354.0
40        South Carolina           851.0
41          South Dakota           323.0
42             Tennessee          1744.0
43                 Texas          6111.0
44                  Utah           972.0
45               Vermont           511.0
46              Virginia          2047.0
47            Washington          5880.0
48         West Virginia           222.0
49             Wisconsin          2167.0
50               Wyoming           205.0>

1. Create a DataFrame called ind_state that contains the individuals and state columns of homelessness, in that order.
2. Print the head of the result.

In [25]:
# Select only the individuals and state columns, in that order
ind_state = homelessness[['individuals', 'state']]

# Print the head of the result
ind_state.head()

<bound method NDFrame.head of     individuals                 state
0        2570.0               Alabama
1        1434.0                Alaska
2        7259.0               Arizona
3        2280.0              Arkansas
4      109008.0            California
5        7607.0              Colorado
6        2280.0           Connecticut
7         708.0              Delaware
8        3770.0  District of Columbia
9       21443.0               Florida
10       6943.0               Georgia
11       4131.0                Hawaii
12       1297.0                 Idaho
13       6752.0              Illinois
14       3776.0               Indiana
15       1711.0                  Iowa
16       1443.0                Kansas
17       2735.0              Kentucky
18       2540.0             Louisiana
19       1450.0                 Maine
20       4914.0              Maryland
21       6811.0         Massachusetts
22       5209.0              Michigan
23       3993.0             Minnesota
24       1024.0           Mississippi
25       3776.0              Missouri
26        983.0               Montana
27       1745.0              Nebraska
28       7058.0                Nevada
29        835.0         New Hampshire
30       6048.0            New Jersey
31       1949.0            New Mexico
32      39827.0              New York
33       6451.0        North Carolina
34        467.0          North Dakota
35       6929.0                  Ohio
36       2823.0              Oklahoma
37      11139.0                Oregon
38       8163.0          Pennsylvania
39        747.0          Rhode Island
40       3082.0        South Carolina
41        836.0          South Dakota
42       6139.0             Tennessee
43      19199.0                 Texas
44       1904.0                  Utah
45        780.0               Vermont
46       3928.0              Virginia
47      16424.0            Washington
48       1021.0         West Virginia
49       2740.0             Wisconsin
50        434.0               Wyoming>

Filter homelessness for cases where the number of individuals is greater than ten thousand, assigning to ind_gt_10k. View the printed result.

In [30]:
# Filter for rows where individuals is greater than 10000
ind_gt_10k = homelessness[homelessness['individuals'] > 10000]

# See the result
print(ind_gt_10k)

    Unnamed: 0              region       state  individuals  family_members  \
4            4             Pacific  California     109008.0         20964.0
9            9      South Atlantic     Florida      21443.0          9587.0
32          32        Mid-Atlantic    New York      39827.0         52070.0
37          37             Pacific      Oregon      11139.0          3337.0
43          43  West South Central       Texas      19199.0          6111.0
47          47             Pacific  Washington      16424.0          5880.0

    state_pop
4    39461588
9    21244317
32   19530351
37    4181886
43   28628666
47    7523869

Filter homelessness for cases where the USA Census region is "Mountain", assigning to mountain_reg. View the printed result.

In [27]:
# Filter for rows where region is Mountain
mountain_reg = homelessness[homelessness['region'] == 'Mountain']

# See the result
mountain_reg.head

<bound method NDFrame.head of     Unnamed: 0    region       state  individuals  family_members  state_pop
2            2  Mountain     Arizona       7259.0          2606.0    7158024
5            5  Mountain    Colorado       7607.0          3250.0    5691287
12          12  Mountain       Idaho       1297.0           715.0    1750536
26          26  Mountain     Montana        983.0           422.0    1060665
28          28  Mountain      Nevada       7058.0           486.0    3027341
31          31  Mountain  New Mexico       1949.0           602.0    2092741
44          44  Mountain        Utah       1904.0           972.0    3153550
50          50  Mountain     Wyoming        434.0           205.0     577601>

Filter homelessness for cases where the number of family_members is less than one thousand and the region is "Pacific", assigning to fam_lt_1k_pac. View the printed result.

In [28]:
# Filter for rows where family_members is less than 1000 
# and region is Pacific
fam_lt_1k_pac = homelessness[(homelessness['family_members'] < 1000) & (homelessness['region'] == 'Pacific')]

# See the result
print(fam_lt_1k_pac)

   Unnamed: 0   region   state  individuals  family_members  state_pop
1           1  Pacific  Alaska       1434.0           582.0     735139

Filter homelessness for cases where the USA census region is "South Atlantic" or it is "Mid-Atlantic", assigning to south_mid_atlantic. View the printed result

In [41]:
# Subset for rows in South Atlantic or Mid-Atlantic regions
south_mid_atlantic = homelessness[(homelessness['region']== 'Mid-Atlantic') | (homelessness['region']=='South-Atlantic')]

# See the result
print(south_mid_atlantic)

    Unnamed: 0        region         state  individuals  family_members  \
30          30  Mid-Atlantic    New Jersey       6048.0          3350.0
32          32  Mid-Atlantic      New York      39827.0         52070.0
38          38  Mid-Atlantic  Pennsylvania       8163.0          5349.0

    state_pop  indiv_per_10k
30    8886025       6.806193
32   19530351      20.392363
38   12800922       6.376884

Filter homelessness for cases where the USA census state is in the list of Mojave states, canu, assigning to mojave_homelessness. View the printed result.

In [42]:
# The Mojave Desert states
canu = ["California", "Arizona", "Nevada", "Utah"]

# Filter for rows in the Mojave Desert states
mojave_homelessness = homelessness[homelessness['state'].isin(canu)]

# See the result
print(mojave_homelessness)

    Unnamed: 0    region       state  individuals  family_members  state_pop  \
2            2  Mountain     Arizona       7259.0          2606.0    7158024
4            4   Pacific  California     109008.0         20964.0   39461588
28          28  Mountain      Nevada       7058.0           486.0    3027341
44          44  Mountain        Utah       1904.0           972.0    3153550

    indiv_per_10k
2       10.141067
4       27.623825
28      23.314189
44       6.037640

1. Add a new column to homelessness, named total, containing the sum of the individuals and family_members columns.
2. Add another column to homelessness, named p_individuals, containing the proportion of homeless people in each state who are individuals.

In [43]:
# Add total col as sum of individuals and family_members
homelessness['total'] = homelessness['individuals'] + homelessness['family_members']

# Add p_individuals col as proportion of individuals
homelessness['p_individuals'] = homelessness['individuals'] / homelessness['total']
# See the result
print(homelessness)

    Unnamed: 0              region                 state  individuals  \
0            0  East South Central               Alabama       2570.0
1            1             Pacific                Alaska       1434.0
2            2            Mountain               Arizona       7259.0
3            3  West South Central              Arkansas       2280.0
4            4             Pacific            California     109008.0
5            5            Mountain              Colorado       7607.0
6            6         New England           Connecticut       2280.0
7            7      South Atlantic              Delaware        708.0
8            8      South Atlantic  District of Columbia       3770.0
9            9      South Atlantic               Florida      21443.0
10          10      South Atlantic               Georgia       6943.0
11          11             Pacific                Hawaii       4131.0
12          12            Mountain                 Idaho       1297.0
13          13  East North Central              Illinois       6752.0
14          14  East North Central               Indiana       3776.0
15          15  West North Central                  Iowa       1711.0
16          16  West North Central                Kansas       1443.0
17          17  East South Central              Kentucky       2735.0
18          18  West South Central             Louisiana       2540.0
19          19         New England                 Maine       1450.0
20          20      South Atlantic              Maryland       4914.0
21          21         New England         Massachusetts       6811.0
22          22  East North Central              Michigan       5209.0
23          23  West North Central             Minnesota       3993.0
24          24  East South Central           Mississippi       1024.0
25          25  West North Central              Missouri       3776.0
26          26            Mountain               Montana        983.0
27          27  West North Central              Nebraska       1745.0
28          28            Mountain                Nevada       7058.0
29          29         New England         New Hampshire        835.0
30          30        Mid-Atlantic            New Jersey       6048.0
31          31            Mountain            New Mexico       1949.0
32          32        Mid-Atlantic              New York      39827.0
33          33      South Atlantic        North Carolina       6451.0
34          34  West North Central          North Dakota        467.0
35          35  East North Central                  Ohio       6929.0
36          36  West South Central              Oklahoma       2823.0
37          37             Pacific                Oregon      11139.0
38          38        Mid-Atlantic          Pennsylvania       8163.0
39          39         New England          Rhode Island        747.0
40          40      South Atlantic        South Carolina       3082.0
41          41  West North Central          South Dakota        836.0
42          42  East South Central             Tennessee       6139.0
43          43  West South Central                 Texas      19199.0
44          44            Mountain                  Utah       1904.0
45          45         New England               Vermont        780.0
46          46      South Atlantic              Virginia       3928.0
47          47             Pacific            Washington      16424.0
48          48      South Atlantic         West Virginia       1021.0
49          49  East North Central             Wisconsin       2740.0
50          50            Mountain               Wyoming        434.0

    family_members  state_pop  indiv_per_10k     total  p_individuals
0            864.0    4887681       5.258117    3434.0       0.748398
1            582.0     735139      19.506515    2016.0       0.711310
2           2606.0    7158024      10.141067    9865.0       0.735834
3            432.0    3009733       7.575423    2712.0       0.840708
4          20964.0   39461588      27.623825  129972.0       0.838704
5           3250.0    5691287      13.366045   10857.0       0.700654
6           1696.0    3571520       6.383837    3976.0       0.573441
7            374.0     965479       7.333148    1082.0       0.654344
8           3134.0     701547      53.738381    6904.0       0.546060
9           9587.0   21244317      10.093523   31030.0       0.691041
10          2556.0   10511131       6.605379    9499.0       0.730919
11          2399.0    1420593      29.079406    6530.0       0.632619
12           715.0    1750536       7.409159    2012.0       0.644632
13          3891.0   12723071       5.306895   10643.0       0.634408
14          1482.0    6695497       5.639611    5258.0       0.718144
15          1038.0    3148618       5.434130    2749.0       0.622408
16           773.0    2911359       4.956448    2216.0       0.651173
17           953.0    4461153       6.130702    3688.0       0.741594
18           519.0    4659690       5.451006    3059.0       0.830337
19          1066.0    1339057      10.828516    2516.0       0.576312
20          2230.0    6035802       8.141420    7144.0       0.687850
21         13257.0    6882635       9.895919   20068.0       0.339396
22          3142.0    9984072       5.217310    8351.0       0.623758
23          3250.0    5606249       7.122409    7243.0       0.551291
24           328.0    2981020       3.435066    1352.0       0.757396
25          2107.0    6121623       6.168299    5883.0       0.641849
26           422.0    1060665       9.267771    1405.0       0.699644
27           676.0    1925614       9.062045    2421.0       0.720777
28           486.0    3027341      23.314189    7544.0       0.935578
29           615.0    1353465       6.169351    1450.0       0.575862
30          3350.0    8886025       6.806193    9398.0       0.643541
31           602.0    2092741       9.313145    2551.0       0.764014
32         52070.0   19530351      20.392363   91897.0       0.433387
33          2817.0   10381615       6.213869    9268.0       0.696051
34            75.0     758080       6.160300     542.0       0.861624
35          3320.0   11676341       5.934222   10249.0       0.676066
36          1048.0    3940235       7.164547    3871.0       0.729269
37          3337.0    4181886      26.636307   14476.0       0.769481
38          5349.0   12800922       6.376884   13512.0       0.604130
39           354.0    1058287       7.058577    1101.0       0.678474
40           851.0    5084156       6.061970    3933.0       0.783626
41           323.0     878698       9.514077    1159.0       0.721311
42          1744.0    6771631       9.065763    7883.0       0.778764
43          6111.0   28628666       6.706215   25310.0       0.758554
44           972.0    3153550       6.037640    2876.0       0.662031
45           511.0     624358      12.492833    1291.0       0.604183
46          2047.0    8501286       4.620477    5975.0       0.657406
47          5880.0    7523869      21.829195   22304.0       0.736370
48           222.0    1804291       5.658732    1243.0       0.821400
49          2167.0    5807406       4.718113    4907.0       0.558386
50           205.0     577601       7.513837     639.0       0.679186

1. Add a column to homelessness, indiv_per_10k, containing the number of homeless individuals per ten thousand people in each state.
2. Subset rows where indiv_per_10k is higher than 20, assigning to high_homelessness.
3. Sort high_homelessness by descending indiv_per_10k, assigning to high_homelessness_srt.
4. Select only the state and indiv_per_10k columns of high_homelessness_srt and save as result. Look at the result.

In [31]:
# Create indiv_per_10k col as homeless individuals per 10k state pop
homelessness["indiv_per_10k"] = 10000 * homelessness['individuals'] / homelessness['state_pop'] 

# Subset rows for indiv_per_10k greater than 20
high_homelessness = homelessness[homelessness['indiv_per_10k'] > 20]

# Sort high_homelessness by descending indiv_per_10k
high_homelessness_srt = high_homelessness.sort_values(['indiv_per_10k'], ascending=False)

# From high_homelessness_srt, select the state and indiv_per_10k cols
result = high_homelessness_srt[['state', 'indiv_per_10k']]

# See the result
print(result)

                   state  indiv_per_10k
8   District of Columbia      53.738381
11                Hawaii      29.079406
4             California      27.623825
37                Oregon      26.636307
28                Nevada      23.314189
47            Washington      21.829195
32              New York      20.392363